*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Nav Bar Styles*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #1F2937;
    color: #f0f6ff;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.header-links{
    display: flex;
    gap: 16px;
}

li{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color: #f9faf8;
}

/* Hero Styles*/

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 600px;
    background-color: #1F2937;
    padding: 16px;
    flex: 1;
}

.hero-left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-left: 8px;
}

.hero-right{
    max-width: 400px;
}

.hero-left, .hero-right {
    flex-basis: 50%;
    flex-shrink: 1;
    min-width: 0;
}


h1{
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 8px;
    color: #f9faf8;
}

h3{
    color: #f9faf8;
    color: #E5E7EB;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 500;
}

.hero-image{
    max-width: 100%;
    height: auto;
}

button{
    width: fit-content;
    padding: 16px 32px;
    background-color: #3882F6;
    color: #f9faf8;
    border: 0px solid #3882F6;
    border-radius: 8px;
    font-size: 24px;
    line-height: 32px;
}


/* Logos Section Styles*/

.logos-section{
    padding: 40px 16px;
}

.logos-heading{
    font-size: 32px;
    line-height: 48px;
    color: #1F2937;
    text-align: center;
    font-weight: 600;
}

.logos-content-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 40px 16px;
}

.logo-text-container, .logo-text-link-container{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.logo-content, .logo-image-container, .logo-text-link{
    width: 120px;
}

.logo-image-container{
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
}

.logo-image{
    width: 100%;
    height: auto;
}

.logo-text{
    text-align: center;
    margin: 0px auto;
    max-width: 96px;
}

.logo-text-link{
    color: #1F2937;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Testimonials*/

.testimonials-section{
    background-color: #E5E7EB;
    padding: 20px 40px;
    height: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.testimonials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.testimonial-text{
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 16px;
}

.testimonial-name{
    align-self: flex-end;
    font-size: 16px;
    font-weight: 600;
}

/*Call to action*/
.cta-section{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.cta-container{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    background-color: #3882F6;
    padding: 20px 40px;
    border: 0px solid #3882F6;
    border-radius: 8px;
}

.cta-content{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    justify-content: center;
}

.cta-heading{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.cta-button{
    background-color: #ffffff;
    color: #3882F6;
    border: 0px solid #3882F6;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
}

/* Footer */
footer{
    background-color: #1F2937;
    color: #f0f6ff;
    text-align: center;
    padding: 16px;
}

/* Media Queries*/

@media (max-width: 800px) {
    h1 {
        font-size: 32px;
        line-height: 48px;
    }
    h3{
        font-size: 14px;
        line-height: 20px;
    }
    button{
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-text{
        font-size: 24px;
    }
}
